body {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 2%;
        line-height: 24px;
        color: #434455;
        background-color: #FFFFFF;

}
a {
        font-size: 12px;
        letter-spacing: 4%;
        line-height: 16px;
        text-decoration: none;
}
ul {
    list-style: none;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-link:focus, .header-link:hover {
    color: #404BBF;
}
.address {
    font-style: normal; 
}
.address-link {
    color: #434455; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:focus, .number-link:focus, .address-link:hover, .number-link:hover {
    color: #404BBF;
}
.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
}
.button:hover, .button:focus {
    background-color: #404BBF
}
.title {
    background-color: #2E2F42;
}
button {
    background-color: #4D5AE5;
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 4%;
        color: #FFFFFF;
}
.section-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.section-header {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    color: #2E2F42;
}
.section-text {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2%;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.accent {
    color: #2E2F42
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d5ae5
}
.accent-footer{
    color: #F4F4FD;
}
.description {
    background-color: #F4F4FD;
}
footer {
    background-color:#2E2F42;
}
.footer-text {
    color: #F4F4FD
}